<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="200000" executionTimeout="250"/>
  </system.web>
  <appSettings/>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" maxBufferPoolSize="10097152" maxReceivedMessageSize="10097152"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="customBinding0">
          <binaryMessageEncoding/>
          <httpTransport maxBufferPoolSize="10097152" maxReceivedMessageSize="10097152" maxBufferSize="10097152"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:60970/Project/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>